<!-- INI  TOP HOME-->
<section class="container bg-light">
  <div>
    <div>
      <h2 class="display-4">Mi experiencia</h2>
      <p>
        Mi experiencia laboral reciente se ha enfocado en el ámbito del Ecommerce, la Dirección de Mercadeo y la
        Dirección de Proyectos basados en web.
      </p>
    </div>
  </div>
</section>
<!-- END TOP HOME-->

<!-- INI  MIDDLE HOME-->
<section class="container">
  <div>
    <div>
      <h3>MI EXPERIENCIA LABORAL</h3>
      <p>
        <b>LIDER WEB<br>
          <i>Decathlon Colombia, Mar 2021- Sep 2023</i></b><br>
        Responsable de la estrategia de implementación digital omnicanal de Decathlon Colombia y liderazgo
        de nuevos modelos de
        negocio. Product Owner de la plataforma ecommerce (Prestashop).
      </p>
      <p>
        <b>DIRECTOR DE MERCADEO<br>
          <i>INSSA SAS, Ene 2019 - Mar 2020</i></b><br>
        Estrategia de marketing para Dispensadores Automáticos
        (Vending/ Horeca). Rediseño de imagen corporativa por
        líneas de producto. Desarrollo del modelo de ecommerce
        y estrategia digital. Gestión de presupuestos de publicidad
        Offline/Online y alianzas
      </p>
      <p>
        <b>COORDINADOR NACIONAL DE VENTAS DIGITALES<br>
          <i>Hewlett Packard Colombia, Mar 2015 - May 2017</i></b><br>
        Desarrollo de la estrategia digital de la marca en el canal Retail a través de la relación con los
        equipos de ventas
        digitales de las principales cadenas:<br>
        Alkosto.com, Exito.com, Falabella.com.co, TiendasJumbo.co, Panamericana.com.co, OfficeDepot.com
      </p>
      <p>
        <b>DIRECTOR PROYECTOS PUBLICITARIOS<br>
          <i>IPO Ingeniería y Publicidad Online, Ene - Jul 2014</i></b><br>
        Coordinación de los equipos de diseño y desarrollo para la producción de material publicitario
        impreso y digital para el proyecto BDBacata.com
      </p>
      <p>
        <b>WEBMASTER<br>
          <i>INTERASESORES S.A. Abr 2009 - Abr 2011</i></b><br>
        Diseño web e implementación de 5 proyectos escolares:
        colegionuevayork.edu.co, colegiomayordelosandes.edu.co,
        colegiocolombogales.edu.co, jardininfantilstanford.edu.co,
        interasesores.com.co, disnogal.com.co
      </p>
    </div>
  </div>
  <div class="middle-home">
    <div class="middle-home-full">
      <p><span id="jms-yt"><b>INTERVENCIÓN EN SEMINARIO WEB GESTION DE PROYECTOS</b><br>
          Universidad Católica de Colombia, 2023</span>
      </p>
      <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xZ4zCb2FvD8?si=T987W7zw36IqNAPI"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </p>
    </div>
  </div>
</section>
<!-- END MIDDLE HOME-->