/*Estilos CSS proyecto */

.top-home {
    background-color: white;
    display: inline-block;
    width: 85%;
}

button {
    background-color: red;
    margin-top: 20px;
    padding: 10px 50px;
    color: white;
    border: none;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: chocolate;
}

.foto-home {
    float: right;
    padding: 30px;
    width: 25%;
}

.info-home {
    float: right;
    padding: 100px 50px;
    width: 65%;
}

.middle-home {
    background-color: rgb(212, 245, 247);
    display: inline-block;
    height: auto;
    margin: 30px 0;
    padding: 30px;
    width: inherit;
}

.middle-home-left {
    background-color: white;
    float: left;
    margin: 30px;
    padding: 30px;
    width: 40%;
}

.middle-home-right {
    background-color: white;
    float: right;
    margin: 30px;
    padding: 30px;
    width: 40%;
}

.middle-home-full {
    background-color: white;
    width: 90%;
    padding: 40px;
}

.bottom-home {
    background-color: white;
    border: 1px #eee solid;
    display: inline-block;
    height: auto;
    margin: 30px 0;
    padding: 30px;
    width: inherit;
}

.bottom-home-item {
    width: 100%;
    margin: 30px 0;
    display: flex;
}

.bottom-home-item-left {
    width: 20%;
    float: left;
    margin-right: 50px
}

.bottom-home-item-right {
    width: 70%;
    float: right;
}

form {
    text-align: center;
}

textarea {
    max-width: 90%;
    max-height: 300px;
    min-height: 100px;
}

footer {
    margin: 30px 0;
}

.flecha-arriba {
    border: 0px solid #bbb;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

table {
    /*table-layout: fixed;*/
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(123, 225, 229);
}

thead th:nth-child(1) {
    width: 40%;
}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {
    width: 20%;
}

th,
td {
    padding: 20px;
}

thead th,
tfoot th,
tfoot td {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5));
    border: 3px solid rgb(131, 202, 241);
}

@media (max-width: 768px) {

    /* Estilos para dispositivos móviles */
    body {
        font-size: 16px;
    }

    .imagen {
        display: block;
        width: 100%;
    }

    .top-home {
        background-color: white;
        display: inline-block;
        width: 100%;
    }

    .foto-home {
        padding: 30px;
        width: 100%;
    }

    .foto-home img {
        width: 100%;
    }

    .info-home {
        padding: 100px 50px;
        width: 100%;
    }
}