<div class="container bg-light">
  <footer>
    <div style="text-align: center;">
      <p>
        <a href="https://www.linkedin.com/in/juanmanuelsilva/" target="_blank"><img
            src="assets/imagenes/logo-linkedin-black-transparent.png" alt="" width="40px"></a>
      </p>
      <p>Contacto:<br>juan@experto.com<br>Móvil: 32000000</p>
    </div>
    <div style="text-align: center;">

    </div>
    <div style="text-align: center;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sobremi">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </footer>
</div>