<!-- INI  TOP HOME-->
<section class="container bg-light">
  <div>
    <div>
      <h1 class="display-4">Acerca de mi</h1>
      <p>
        Soy Publicista y Administrador de Empresas, <u>Especialista en Formulación de proyectos</u> y <u>Especialista en
          Administración Financiera.</u>
      </p>
      <p>
        Cuento con buena habilidad para el trabajo en equipo, alto sentido de la responsabilidad,motivaciónal logro,
        innovador, creativo, excelente ortografía y capacidad de redacción.
      </p>
    </div>
  </div>
</section>
<!-- END TOP HOME-->

<section class="container">
  <div>
    <div>
      <h2>MI PERFIL PROFESIONAL</h2>
      <p>
        Tengo experiencia en Dirección de Mercadeo Tradicional y Digital, Desarrollo de marca y Branding y mercadeo
        estratégico.
      </p>
      <p>
        También en Gestión de proyectos de implementación ecommerce, campañas Online y Offline, coordinando
        equipos creativos, de diseño y desarrollo impreso y digital. JIRA, Trello, Ms Project, Eyetrack.
      </p>

      <h2>MIS HABILIDADES BLANDAS:</h2>
      <p>
        Gran capacidad de relacionamiento con cuentas y agencias y gran habilidad para el Trabajo en equipo, alto
        sentido de la responsabilidad, motivación al logro, innovador, creativo, excelente ortografía y capacidad de
        redacción, con espíritu de liderazgo y sentido de pertenencia, con buena capacidad de adaptación.
      </p>
    </div>
    <div>
      <h2>HABILIDADES TÉCNICAS</h2>
      <p>
        Tengo competencias en Marketing Digital, SEO, SEM, SMM, Analitycs y Trends y también soy Desarrollador Web con
        manejo de los siguientes lenguajes y entornos de programación: </p>
      <ul>
        <li>Git-Github</li>
        <li>PHP</li>
        <li>Mysql</li>
        <li>JavaScript</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Python</li>
        <li>R y RStudio</li>
      </ul>
      <p>
        He participado en la Implementación y gestión de sitios web con CMS Wordpress y Tiendas virtuales con
        Woocommerce y Prestashop, implementando sistemas de pago como Payu, Payzen y MercadoPago.</p>
      <p>
        Tengo dominio de Gestión y análisis de Big Data con Python, RStudio, Excel y Power BI, Looker.
      </p>
    </div>
  </div>
</section>

<section class="container">

  <h2>Mi formación académica</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">PROGRAMA</th>
        <th scope="col">INSTITUCIÓN</th>
        <th scope="col">AÑO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ textos.it1 }}</th>
        <td>{{ textos.it1prog }}</td>
        <td>{{ textos.it1inst }}</td>
        <td>{{ textos.it1year }}</td>
      </tr>
      <tr>
        <th scope="row">{{ textos.it2 }}</th>
        <td>{{ textos.it2prog }}</td>
        <td>{{ textos.it2inst }}</td>
        <td>{{ textos.it2year }}</td>
      </tr>
      <tr>
        <th scope="row">{{ textos.it3 }}</th>
        <td>{{ textos.it3prog }}</td>
        <td>{{ textos.it3inst }}</td>
        <td>{{ textos.it3year }}</td>
      </tr>
      <tr>
        <th scope="row">{{ textos.it4 }}</th>
        <td>{{ textos.it4prog }}</td>
        <td>{{ textos.it4inst }}</td>
        <td>{{ textos.it4year }}</td>
      </tr>
      <tr>
        <th scope="row">{{ textos.it5 }}</th>
        <td>{{ textos.it5prog }}</td>
        <td>{{ textos.it5inst }}</td>
        <td>{{ textos.it5year }}</td>
      </tr>
    </tbody>
  </table>
</section>