<!-- INI  TOP HOME-->
<section class="container bg-light">
  <div>
    <div>
      <img src="assets/imagenes/jms-mask.jpg" alt="jms">
    </div>
    <div>
      <h1 class="display-4">Juan Manuel Silva L.</h1>
      <h2 class="display-6">Director de Mercadeo<br>Director de Proyectos<br>Experto Ecommerce</h2>

    </div>
  </div>
</section>
<!-- END TOP HOME-->

<!-- INI  MIDDLE HOME-->
<section class="container">
  <div>
    <div>
      <p><b>ACERCA DE MI</b></p>
      <p>
        Soy Publicista y Administrador de Empresas, especialista en Formulación de proyectos y en Administración
        Financiera. <br>
        Cuento con buena habilidad para el trabajo en equipo, alto sentido de la responsabilidad, motivación al logro,
        innovador, creativo, excelente ortografía y capacidad de redacción.
      </p>
      <p>
        <button><a class="nav-link" routerLink="sobremi">Leer mas ...</a></button>
      </p>
    </div>
    <div>
      <p><b>MI EXPERIENCIA LABORAL</b></p>
      <p>
        Tengo experiencia de 20 años en el ecosistema de internet, en implementación y gestión de CMS
        Wordpress, tiendas virtuales con Woocommerce, Prestashop y también en implementación de sistemas de
        pago como
        Payu, Payzen y MercadoPago
      </p>
      <p>
        <button><a class="nav-link" routerLink="experiencia">Leer mas ...</a></button>
      </p>
    </div>
  </div>
</section>
<!-- END MIDDLE HOME-->

<!-- INI  BOTTOM HOME-->
<section class="container bg-light">
  <div>
    LOGROS DESTACADOS
    <div>
      <div>
        <img src="assets/imagenes/logo-decathlon.jpg" alt="">
      </div>
      <div>
        <p>
          Entre 2022 y 2023 coordiné la integración de la logística eCommerce con la plataforma de comercio electrónico
          en Decatlon Colombia
        </p>
        <p>
          <button><a class="nav-link" routerLink="experiencia">Leer mas ...</a></button>
        </p>
      </div>
    </div>
    <div>
      <div>
        <img src="assets/imagenes/mejor-saber-pro.jpg" alt="">
      </div>
      <div>
        <p>
          En el año 2016 obtuve el mejor puntaje nacional en las pruebas Saber Pro en el programa de Administración de
          Empresas y profesiones afines, otorgado por el Ministerio de Educación Nacional, 2017.
        </p>
        <p>
          <button><a class="nav-link" routerLink="sobremi">Leer mas ...</a></button>
        </p>
      </div>
    </div>
    <div>
      <div>
        <img src="assets/imagenes/jms-yt.jpg" alt="">
      </div>
      <div>
        <p>
          Mi intervención en el seminario de productividad en Gestión de Proyectos para la Universidad
          Católica de Colombia
        </p>
        <p>
          <button><a class="nav-link" routerLink="experiencia">Leer mas ...</a></button>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- END BOTTOM HOME-->